/*Universal*/
* {
  font-family: Arial, Helvetica, sans-serif;
}
/*elemento*/
h1 {
  color: red;
}
/*class*/
.titulo-h2 {
  color: blue;
}
/*id*/
#element {
  color: green;
}

/*
elegir por atributo con valor concreto

[atributo="ejemplo"]{

}
*/

/*hijos*/
p b {
  color: maroon;
}
